.homepage {
    height: 100vh; 
    background-color: #092635;
}

.button-wrap {
    display: flex;
    gap: 20px;
}

.wrapper-1 {
    padding: 40px;
    gap: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: 700;
}

.wrapper-2 {
    margin-top: 11%;
    display: flex;
    justify-content: space-between;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-left: 30%;
}

.name-info {
    font-size: 50px;
}

.job-info {
    font-size: 80px;
    margin-bottom: 25px;
}

.icon-wrapper {
    margin-top: -5px;
    background-color: #5C8374;
    border-radius: 20px;
    padding: 20px;
    width: 80px;
    height: 250px;
}

.icon-wrapper ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.icon-wrapper ul li {
    font-size: 35px;
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
    transform: scale(1);
}

.icon-wrapper ul li:hover {
    transform: scale(1.15);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .wrapper-1 {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .wrapper-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        gap: 50px;
    }

    .text-wrapper {
        margin-left: 0%;
    }

    .name-info {
        font-size: 20px;
    }

    .job-info {
        font-size: 30px;
    }

    .icon-wrapper {
        width: 250px;
        height: 80px;
    }

    .icon-wrapper ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}