.skillpage {
    height: 100vh;
    background-color: #092635;
}

.skills-wrapper {
    padding: 100px 0 0 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skill-title {
    font-size: 20px;
    text-align: center;
}

.skill-content-wrapper {
    display: flex;
    justify-content: space-around;
}

.soft-skill {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tech-skill {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.programing-language {
    display: flex;
    flex-direction: column;
    gap: 30px;
}