.skillpage {
    height: 100vh;
    background-color: #092635;
    padding: 70px 0 0 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skill-title {
    font-size: 20px;
    text-align: center;
}

.card-skill-wrapper {
    gap: 30px;
    display: flex;
    width: max-content;
    margin-top: 50px;
}

.programing-language {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}