.navbar-list {
    list-style-type: none;
    display: flex;
    gap: 35px;
}

.navbar-list a {
    cursor: default;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    height: 40px;
    width: 110px;
    border-radius: 10px;
    transition: font-size 1s;
}

.navbar-list a:hover {
    color: #5C8374;
    font-size: 20px;
}