.tech-card {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    width: max-content;
}

.tech-card img {
    background: none;
    height: 100px;
    width: 100px;
}