.skillCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: 2px solid white;
    width: 400px;
    height: 300px;
    padding: 20px;
}

.skillCard i {
    font-size: 50px;
}

.skillCard p {
    font-size: 15px;
    text-align: justify;
}

.techWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}